{% extends "base.html" %}

{% from "_schoselmacros.html" import render_bets %}

{% block content %}

<div class="wrapper">
  <h1>Bets</h1>
</div>
<form action="/main" method="post" name="main">
{{ form.hidden_tag() }}
<div class="wrapper">
  <p>
    You have {{ '%0.2f' | format(current_user.points) }} points.<br>
    You marked {{ current_user.supertips }}/{{ current_user.MAX_SUPERTIPS }} super bets.
  </p>

{{ form.champion_id.label }}
{% if current_user.champion_editable %}
{{ render_field(form.champion_id)}}
{% else %}
{{ current_user.champion.name }}
{% endif %}
</div>

{{ render_bets(bets, 'Round of 16') }}

{{ render_bets(bets, 'Group stage') }}


<footer class="footer">
  <input class="btn btn--primary btn--large" type="submit" value="Save">
</footer>
</form>

{% endblock %}
