{% extends "base.html" %}

{% from "_schoselmacros.html" import render_bets %}

{% block content %}

<main class="page page--matches">

  <h1 class="page__title">Matches</h1>

  <form>

    <h2 class="page__subtitle">Champion</h2>

{% if current_user.champion_editable %}

    {{ render_field(form.champion_id, class='js-input') }}

{% else %}

{{ current_user.champion.name }}

{% endif %}

{{ render_bets(bets, 'Group stage') }}

    <input class="btn--save" type="submit" value="save">
  </form>

</main>

<script src="{{ url_for('static', filename='javascript/index.js') }}"></script>

{% endblock %}
