{% extends "base.html" %}

{% block content %}
<div class="wrapper">
  <h1>Scoreboard</h1>

  <table>
    <thead>
      <th>Rank</th>
      <th>Points</th>
      <th>Name</th>
      {% if current_user.final_started %}
      <th>Champion</th>
      {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for user in scoreboard %}

      <tr>

      <td>{{ loop.index }}</td>
      <td>{{ '%0.2f' | format(user.points) }}</td>
      <td><a href='{{ url_for('user', user_id=user.id) }}'>{{ user.name }}</a></td>
      {% if current_user.final_started %}
      <td>{{ user.champion.name }}</td>
      {% endif %}
      </tr>

      {% endfor %}
    </tbody>
  <table>
</div>
{% endblock %}
