.b-wrapper {
  margin: 0 auto;
  padding: 2.4rem 0;
  width: 300px;

}

.rules-wrapper h1,
.rules-wrapper h2,
.rules-wrapper h3,
.rules-wrapper h4 {
  margin: 2.4rem 0 .8rem;
  font-weight: 700;
}

.rules-wrapper h1 {
  font-size: 195.3%;
}

.rules-wrapper h2 {
  font-size: 156.3%;
}

.rules-wrapper h3 {
  font-size: 125%;
}

.rules-wrapper hr {
  margin: 3.6rem 0;
  border: 0;
  border-bottom: 1px solid #eee;
}

.rules-wrapper p {
  margin-bottom: .8rem;
}

.rules-wrapper strong {
  font-weight: 700;
}

.b-wrapper input:not([type='checkbox']) {
  display: block;
  width: 100%;
  padding: 1rem 1.4rem;
  border: 1px solid #bbb;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.25);
}

.b-wrapper .form-input-label {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.b-wrapper [type=checkbox] + label {
  display: inline;
  margin-left: 1.2rem;
}

.form-group {
  margin-bottom: 2.4rem;
}

.btn {
  padding: .8rem 2.4rem;
  border: 1px solid #bbb;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0,0,0,.08);
}

.btn--primary {
  background: #3EABDC;
  border: 1px solid #1F85B5;
  color: #fff;
}

.alert {
  margin: 2.4rem 0;
  padding: 1.2rem 2.4rem;
  background: #BDEAFF;
  border: 1px solid #6BC0E8;
  font-size: 1.4rem;
  font-weight: 700;
  color: #00496B;
  text-transform: uppercase;
  text-align: center;
}

.rules-wrapper {
  margin: 2.4rem auto;
  padding: 0 2.4rem;
  max-width: 60rem;
}
