{% extends "base.html" %}
{% block content %}
	<div class="rules-wrapper">
		<a style="display:inline-block; margin: 2.4rem 0" class="btn btn--primary" href="https://chat.whatsapp.com/50I08RtgO1LJnDdXetLmL0" title="Join the WhatsApp group">Join Schosel WhatsApp group!</a>
		{{ content }}
		<a style="display:inline-block; margin: 2.4rem 0"  class="btn btn--primary" href="https://chat.whatsapp.com/50I08RtgO1LJnDdXetLmL0" title="Join the WhatsApp group">Join Schosel WhatsApp group!</a>
	</div>
{% endblock %}
