{% extends "base.html" %}

{% block content %}
<div class="rules-wrapper">

<h1>Admin</h1>

<h2>Matches</h2>
{% for match in matches %}
<a href='{{ url_for("match", match_id=match.id) }}'>{{ match.date }} {{ match.team1.name }} - {{ match.team2.name }}</a><br>
{% endfor %}

<h2>{{users | length }} Users</h2>

{% for user in users %}

{{ user.first_name }}
{{ user.last_name }}
{{ user.email }}
{% if not user.paid %}
<a href='{{ url_for("confirm_payment", user_id=user.id) }}'>Confirm payment</a>
{% endif %}
{% if not user.admin %}
<a href='{{ url_for("make_admin", user_id=user.id) }}'>Make admin</a>
{% endif %}

<br>
{% endfor %}

</div>

{% endblock %}
