{% extends "base.html" %}

{% block head %}
<link href="../static/normalize.css" rel="stylesheet">
<link href="../static/frontend.css" rel="stylesheet">
<link href="../static/backend.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="rules-wrapper">

<h1>{{ match.team1.name }} - {{ match.team2.name }}</h1>

{{ match.goals_team1 if match.outcome is not none }} -
{{ match.goals_team2 if match.outcome is not none }}

<br>

<form action="{{ url_for('match', match_id=match.id) }}" method="post" name="main">
{{ form.hidden_tag() }}
{{ render_field(form.goals_team1) }}
{{ render_field(form.goals_team2) }}
<br>
Over: {{ render_field(form.over) }}
<br>
  <input type="submit" value="Save">
</form>

{% if match.id == 64 %}
<a href='{{ url_for('make_champion', team_id=match.team1.id) }}'>Make {{ match.team1.name}} champion</a><br>
<a href='{{ url_for('make_champion', team_id=match.team2.id) }}'>Make {{ match.team2.name}} champion</a><br>
<a href='{{ url_for('make_champion', team_id=0) }}'>Clear champion</a><br>
{% endif %}

<a href='{{ url_for("admin") }}'>Back to admin</a>

</div>

{% endblock %}
