{% extends "base.html" %}

{% block content %}
<div class="b-wrapper">
<h1>Schosel &middot; Sign Up</h1>

<div class="alert">Your email and full name won't appear anywhere on this site.</div>

<form class="form" action="{{ url_for('register') }}" method="post" name="register">
    {{ form.hidden_tag() }}

  <div class="form-group">
    {{ form.first_name.label(class_='form-input-label') }}
    {{ render_field(form.first_name, class="form-control") }}
  </div>
  <div class="form-group">
    {{ form.last_name.label(class_='form-input-label') }}
    {{ render_field(form.last_name, class="form-control") }}
  </div>
  <div class="form-group">
    {{ form.email.label(class_='form-input-label') }}
    {{ render_field(form.email, class="form-control") }}
  </div>
  <div class="form-group">
    {{ form.password.label(class_='form-input-label') }}
    {{ render_field(form.password, class="form-control") }}
  </div>
  <div class="form-group">
    {{ form.confirm.label(class_='form-input-label') }}
    {{ render_field(form.confirm, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.recaptcha) }}
  </div>
  <div class="form-group">
    <button class="btn btn--primary" type="submit">Sign Up</button><a style="margin-left:24px;" href='index'>Cancel</a>
  </div>
</form>
</div>
{% endblock %}
